<div id="testimonials" class="box">
    <div>
        <div>
            <h3>Testimonials</h3>
            {{#each this}}
            <p>
                "{{this.message}}" <span>- {{this.author}}</span>
            </p>
            {{/each}}
        </div>
    </div>
</div>