<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="background">
      <div id="page">
        {{> header}}
        <div id="contents">
          {{{body}}}
        </div>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
