<div id="adbox">
	<img src={{home.featured_image}} alt="Img">
	<h1>{{home.title}}</h1>
	<p>{{{home.content}}}</p>
</div>
<div id="main">
	{{> homeBlog blogs}}
	{{> testimonialSection testimonials}}
</div>
{{> homeSidebar featured_links}}